<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoDB" value="mongodb://127.0.0.1:27017/Wx"/>
    <add key="LogPath" value="F:\GitHub\txd_Wx\Wx\Log\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>